footer {
    background: rgb(45, 42, 42);
    color: white;

    a {
        color: rgb(116, 111, 111);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: white;
    }
}